.textarea {
  width: 100%;
  padding: 16px;
  resize: none;
  border-radius: 8px;
  background-color: var(--white-color);
  transition: 0.4s;
  outline: 1px solid var(--secondary-them-color);

  &:hover {
    outline: 1px solid var(--black-color);
  }

  &:focus,
  &:active {
    outline: 1px solid var(--primary-accent-color);
  }
}

.disabled {
  pointer-events: none;
}
