.container {
  padding: 0 16px 16px;
  border-radius: 10px;
  font-size: 14px;
  overflow: scroll;

  h1 {
    font-size: 20px;
  }

  h2 {
    display: block;
    margin-top: 16px;
    font-size: 18px;
  }

  hr {
    display: block;
    width: 80%;
    height: 1px;
    margin: 16px auto 0;
    background-color: var(--primary-accent-color);
  }

  strong {
    display: inline-block;
    margin-top: 16px;
    text-align: center;
  }
}

.block {
  margin-top: 16px;
  text-align: left;
}
